<!--The content below is only a placeholder and can be replaced.-->
<interval-dir (everySecond)="everySecond()"></interval-dir>
<div style="text-align:center">
  <h1 [ngStyle]="{'font-style': 'italic'}">
    Welcome to {{ title }}!
  </h1>
  <pre *ngIf="title!=='Link\'s War Chest!'"> {{trainer.name | uppercase}} </pre>
  <ul>
    <li *ngFor="let foe of foes">
      {{foe.name}}
      <img src="{{foe.image_url}}" />
    </li>
  </ul>
  <input [(ngModel)]="trainer.name" />
  <button type="submit" (click)="onClick()">Click me</button>
  <app-master-sword></app-master-sword> 
  <app-hylian-shield></app-hylian-shield>
</div>

